$iconSpritePath:          "../images/glyphicons-halflings.png";
$iconWhiteSpritePath:     "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

html, body, #app {
  height: 100%;
}

a {
  cursor: pointer;
}

.no-wrap {
  white-space: nowrap;
}