$iconSpritePath:          "../images/glyphicons-halflings.png";
$iconWhiteSpritePath:     "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';
@import 'mongodb';

html, body, #app {
  height: 100%;
}

a {
  cursor: pointer;
}

.no-wrap {
  white-space: nowrap;
}

#collection-details {
  height: 100%;
  overflow-y: scroll;
}

.collection-list-item .count {
  float: right;
  margin-top: 1px;
}